/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* .App {
    text-align: center;
  } */
  
  .loader-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100dvh; /* Full viewport height */
  }

  .main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }

  .main h2{
    font-size: 1.5rem;
    font-weight: 600;
  }
  

  .search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  }
  
  .search-bar:focus {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: #4a90e2;
  }
  
  .search-bar::-webkit-input-placeholder {
    color: #888;
  }
  
  .search-bar::-moz-placeholder {
    color: #888;
  }
  
  .search-bar:-ms-input-placeholder {
    color: #888;
  }
  
  .search-bar::-ms-input-placeholder {
    color: #888;
  }
  
  .search-bar::placeholder {
    color: #888;
  }
  