body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa; /* Light background */
}

.forgot-password-container {
    height: 100vh;
    background-color: #233655; /* Background for consistency with theme */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.logos {
    width: 150px; /* Adjust size of the logo */
    margin-bottom: 1rem;
    
}
.login-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    color: #233655; /* Title color */
    font-weight: bold;
}

p {
    color: #6c757d; /* Light gray text */
}

.MDBInput input {
    border-radius: 5px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MDBInput input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(128, 18, 191, 0.3);
}

.button-mdn {
    transition: all 0.3s ease;
    background-color: #8012bf;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
}

.button-mdn:hover {
    background-color: #9f44e2;
    box-shadow: 0 5px 15px rgba(128, 18, 191, 0.3);
}

.button-mdn:active {
    transform: scale(0.98);
}

.text-center a {
    color: #8012bf;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}
