.new-branch-container {
    /* max-width: 600px; */

    margin: 15px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #233655; /* Primary color */
  }
  
  .branch-form {
    display: flex;
    flex-direction: column;
  }
  
  .branch-form .form-label {
    font-weight: 500;
    color: #344f7d; /* Secondary color */
  }
  
  .branch-form .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-group .btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
  
  .button-group .btn-primary {
    background-color: #8012bf; /* Accent color */
    border: none;
  }
  
  .button-group .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  
  .button-group .btn-primary:hover {
    background-color: #6f0fae;
  }
  
  .button-group .btn-secondary:hover {
    background-color: #5a636d;
  }
  