.tracking-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f4f6f9;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tracking-title {
  font-size: 1.8rem;
  color: #233655;
  margin-bottom: 20px;
  font-weight: bold;
}

.tracking-input-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 15px;
}

.tracking-input {
  width: 70%;
  border-radius: 8px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.parcel-details-section {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: left;
}

.parcel-heading {
  font-size: 1.5rem;
  color: #344f7d;
  text-align: center;
  margin-bottom: 20px;
}

.parcel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
}

.parcel-item {
  display: flex;
  justify-content: space-between;
  color: #344f7d;
}

.parcel-status {
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
}

.parcel-status.item-accepted-by-courier {
  background-color: #4caf50;
}

.parcel-status.shipped {
  background-color: #03a9f4;
}

.parcel-status['in-transit'] {
  background-color: #ff9800;
}

.parcel-status.delivered {
  background-color: #2ecc71;
}

.parcel-status.unsuccessful-delivery-attempt {
  background-color: #e74c3c;
}
